body{
  background-color: gray;
}

header{
  display: flex;
  background-color: #52807B;
  height: 100px;
  align-items: center;
  flex-direction: row-reverse;
}

h1{
  margin: 0;
  color: #f2f2f2;
  position: absolute;
  left: 10px;
}

header a{
  height: 25px;
  background-color: #f2f2f2;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4%;
  margin: 0 10px 0 10px;
  padding: 5px 10px 5px 10px;
}

header a:hover{
  opacity: 50%;
}

#container{
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
  margin: 0 auto;
}

#card{
  background-color: #52807B;
  margin: 20px 20px 0px 20px;
  padding: 10px;
}

label{
  font-size: 16px;
  font-weight: bold;
  color: white;
}