body{
  background-color: gray;
}

header{
  display: flex;
  background-color: #52807B;
  height: 100px;
  align-items: center;
  flex-direction: row-reverse;
}

h1{
  margin: 0;
  color: #f2f2f2;
  position: absolute;
  left: 10px;
}

header a{
  height: 25px;
  background-color: #f2f2f2;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4%;
  margin: 0 10px 0 10px;
  padding: 5px 10px 5px 10px;
}

#box {
  border-radius: 5px;
  background-color: #67a19b;
  padding: 20px;
  height: 550px;
  width: 450px;
  margin: 15px auto;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #52807B;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4d7973;
}
